DOMAIN-SUFFIX,bing.com,DIRECT
PROCESS-NAME,/Applications/Dia.app/Contents/Frameworks/ArcCore.framework/Versions/A/Helpers/Browser Helper.app/Contents/MacOS/Browser Helper,🇺🇸 美国 IEPL [01] [Air]
DOMAIN-SUFFIX,ips.fj.hsip.gov.cn,DIRECT
