DOMAIN-SUFFIX,bing.com,Proxy
DOMAIN-SUFFIX,diabrowser.engineering,🇺🇸 美国 IEPL [01] [Air]
DOMAIN-SUFFIX,natapp1.cc,Direct
DOMAIN-SUFFIX,content-autofill.googleapis.com,Direct
DOMAIN-SUFFIX,gvt2.com,Direct
DOMAIN-SUFFIX,hsip.gov.cn,Direct
DOMAIN-SUFFIX,appcenter.ms,Direct
DOMAIN,sylu.net,Select-x0.2（SNTP）
DOMAIN-SUFFIX,webn.cc,Select-x0.2（SNTP）
DOMAIN-SUFFIX,emby.misaya.org,Select-x0.2（SNTP）
DOMAIN-SUFFIX,hxd.as174.de,Select-x0.2（SNTP）
DOMAIN-SUFFIX,yixia.io,Select-x0.2（SNTP）
DOMAIN-SUFFIX,emby.cn2gias.uk,Select-x0.2（SNTP）
DOMAIN-SUFFIX,mebimmer.de,Select-x0.2（SNTP）
DOMAIN-SUFFIX,v1.uhdnow.com,Select-x0.2（SNTP）
DOMAIN-SUFFIX,hka-emby.aliz.work,Select-x0.2（SNTP）
DOMAIN-SUFFIX,nanflix.net,Select-x0.2（SNTP）
DOMAIN-SUFFIX,zox.show,Select-x0.2（SNTP）
DOMAIN-SUFFIX,cdn.liminalnet.pro,Select-x0.2（SNTP）
DOMAIN-SUFFIX,diabrowser.engineering,Auto-Smart-US（SNTP）
